<nav class="top-nav">
    <div style="font-size: 14px;">
        <a href="/set-lang/en" style="<%= lang === 'en' ? 'text-decoration: underline;' : '' %>">EN</a> | 
        <a href="/set-lang/fr" style="<%= lang === 'fr' ? 'text-decoration: underline;' : '' %>">FR</a>
    </div>
    <div>
        <% if (userId) { %>
            <a href="/profile" style="margin-right: 15px; font-size: 14px; color: #444646; text-decoration: none; font-weight: 500;">
                👤 <%= t('profile') %>
            </a>
            <a href="/logout"><%= t('logout') %></a>
        <% } else { %>
            <a href="/login"><%= t('login') %></a>
        <% } %>
    </div>
</nav>