<nav class="top-nav">
    <div class="nav-brand">
        <a href="/"><img src="/SeeSomeArtLogoHoriz.png" alt="Museum Tracker Logo" class="nav-logo"></a>
    </div>
    <div class="nav-menu">
        <div class="nav-lang">
            <a href="/set-lang/en" class="<%= lang === 'en' ? 'active-lang' : '' %>">EN</a> | 
            <a href="/set-lang/fr" class="<%= lang === 'fr' ? 'active-lang' : '' %>">FR</a>
        </div>
        <a href="/help" class="nav-link mobile-hide">
            ❓ <span class="nav-text"><%= t('help') %></span>
        </a>
        <% if (userId) { %>
            <a href="/profile" class="nav-link">
                👤 <span class="nav-text"><%= t('profile') %></span>
            </a>
            <a href="/logout" class="nav-link"><%= t('logout') %></a>
        <% } else { %>
            <a href="/login" class="nav-link"><%= t('login') %></a>
        <% } %>
</nav>